body {
  width: 100vw;
  height: 100vh;
}

main {
  width: 100vw;
  height: 100vh;

  padding: 30px;

  background-color: rgb(10, 10, 10);
}

ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 auto;
}

li {
  background-color: rgba(10, 10, 10, 0.7);
  box-shadow: 1px 1px 10px rgba(10, 10, 10, 0.7);

  width: 162px;
  padding: 10px;
  margin: 7px;
  border-radius: 3px;
  cursor: pointer;
}

li:hover {
  box-shadow: 3px 3px 20px rgba(100, 100, 100, 1);
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: inherit;
}